
.container {
  position: relative;
  text-align: center;
  color: black;
}


.top {
  position: absolute;
  top: 20%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
}

.bottom {
  position: absolute;
  top: 64.8%;
  left: 56.4%;
  color: white;
  font-size: 1.3vw;
  transform-origin: left center;
  transform: translate(-50%, -50%);
  transform: rotate(-39.5deg);
}